<h2 class="mt-5">Skipped Appointments</h2>

<% if appointments.any? %>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Token No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Phone Number</th>
      <th>Skipped At</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.token_no %></td>
        <td><%= appointment.name %></td>
        <td><%= appointment.email %></td>
        <td><%= appointment.age %></td>
        <td><%= appointment.gender %></td>
        <td><%= appointment.phone_number %></td>
        <td><%= appointment.updated_at.strftime("%d %b %Y %H:%M") %></td>
        <td>
          <% if @organization.checked_in? %>
            <%= button_to "Complete",
                          complete_organization_appointment_path(@organization, appointment),
                          method: :patch,
                          class: "btn btn-success btn-sm",
                          data: { confirm: "Mark this appointments as completed?" } %>
          <% else %>
            <span class="text-muted">Doctor not available</span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No skipped appointments.</p>
<% end %>
